* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    background-color: #163c4f;
    display: flex;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100px;
    width: auto;
}