@font-face {
    font-family: 'BowlbyOne';
    src: url(BowlbyOneSC-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.menu-container {
    background-color: #163c4f;
    display: flex;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu-container img {
    height: 70px;
    width: auto;
}

.menu-container a {
    text-decoration: none;
}

.menu-item {
    font-size: 20px;
    padding: 20px;
    text-align: center;
    background-color: #163c4f;
}

.menu-item:hover {
    background-color: black;
    transition: 0.2s;
}

.selected {
    background-color: black;
}

.logo {
    margin-left: auto;
}

h1 {
    font-family: 'BowlbyOne', 'sans-serif';
    font-size: 70px;
    padding-left: 2%;
}

p {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 30px;
}