@font-face {
    font-family: 'BowlbyOne';
    src: url(BowlbyOneSC-Regular.ttf);
}
@font-face {
    font-family: 'GloriaHallelujah';
    src: url(GloriaHallelujah.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.menu-container {
    background-color: #163c4f;
    display: flex;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu-container img {
    height: 70px;
    width: auto;
}

.menu-container a {
    text-decoration: none;
}

.menu-item {
    display: flex;
    font-size: 1.2em;
    padding: 10%;
    justify-content: space-evenly;
    background-color: #163c4f;
}

.menu-item:hover {
    background-color: black;
    transition: 0.2s;
}

.selected {
    background-color: black;
}

.logo {
    margin-left: auto;
}

.heading1 h1{
    padding-top: 6%;
    text-align: center;
    font-size: 6.5em;
}

.heading2 {
    text-align: right;
    padding-right: 12%;
    font-size: 1.5em;
    margin-bottom: 6%;
}

.text3 {
    /*width: 1000px;*/
    width: 75%;
    margin: auto;
    font-size: 1.8em;
    text-align: center;
    padding-bottom: 50px;
}

.photo-select-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.photo-select-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
}

.photo-select-item img{
    height: 100px;
    width: auto;
    background-color: white;
}

.photo-select-item:hover img {
    background-color: #163c4f;
}


/* read.html page */
h1 {
    font-family: 'BowlbyOne', 'sans-serif';
    font-size: 5em;
    padding-left: 2%;
}

.listen-h1 {
    text-align: center;
}

.border {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; /*This rule is taken from https://codepen.io/tmrDevelops/pen/NPXodB*/
    border: 2px solid white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.border p {
    font-family: 'GloriaHallelujah', 'sans-serif';
    padding-top: 2%;
    font-size: 1.6em;
}

/* listen.html page */
.container {
    display: flex;
    justify-content: center;
}

.container-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-items img {
    width: 490px;
    height: auto;
    border: 1px solid white;
}

.container-items audio {
    width: 500px;
}

.links-container {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

.links-container-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.links-container-items a {
    text-decoration: none;
    padding-top: 2%;
}

.github-links:hover {
    color: #163c4f;
}

@media screen and (max-width: 550px)
{
    .menu-item {
        font-size: 1.2em;
        padding: 3%;
    }

    .selected {
        background-color: black;
    }

    .menu-container img {
        height: 50px;
        width: auto;
    }
}